.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/section.jpg);
  background-position: 50% 60%;
  margin-top: 0;
  height: 300px;
}

.banner h1 {
  font-size: 4rem;
}
.banner .container {
  padding-top: 80px;
}
