body {
  font-family: "Archivo", sans-serif;
}

.navbar-brand {
  font-family: "Shrikhand", cursive;
  letter-spacing: 1px;
  color: #fcb005 !important;
}
.navbar-expand-lg {
  height: 72px !important;
}
